<h1>CreateTests Detail</h1>

<ul>
  <li> ID：<%= @create_test.id %> </li>
  <li> 名前：<%= @create_test.name %> </li>
  <li> 年齢：<%= @create_test.age %> </li>
  <li> 作成日：<%= @create_test.created_at %> </li>
  <li> 更新日：<%= @create_test.updated_at %> </li>
</ul>
<%= link_to '一覧', create_tests_path %>